<mat-card>
    <mat-card-content>
      <h2>Login</h2>
      <section class="form-section">
        <div *ngIf="isLoading" style="text-align: center;">
          <mat-spinner></mat-spinner>
        </div>    
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
              >
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput
                type="password"
                id="password"
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6"
              >
          </mat-form-field>
          <button mat-flat-button color="primary" [disabled]="!authForm.valid">Submit</button>
        </form>
    </section>
    </mat-card-content>
  </mat-card>
  