<mat-card>
  <mat-card-content>
    <h2>{{ this.componentTitle }}</h2>
    <section class="form-section">
        <form [formGroup]="editDocumentform">
          
          <label for="title">Title</label> 
          <textarea id="title" class="mb-25" formControlName="title" [froalaEditor]="options"></textarea>

          <label for="text">Text</label> 
          <textarea id="text" class="mb-25" formControlName="text" [froalaEditor]="options"></textarea>

          <mat-form-field appearance="fill">
            <mat-label>Color</mat-label>
            <input type="color" formControlName="color" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cols</mat-label>
            <input type="number" formControlName="cols" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Rows</mat-label>
            <input type="number" formControlName="rows" matInput>
          </mat-form-field>
          <button mat-flat-button color="primary" [disabled]="!editDocumentform.valid" (click)="onFormSubmit()">Submit</button>
        </form>
    </section>
  </mat-card-content>
</mat-card>