<mat-card>
    <mat-card-content>
      <h2> Configuration </h2>
      <section class="form-section">
        <form [formGroup]="documentConfigform">
          
          <mat-form-field appearance="fill">
            <mat-label>Cols</mat-label>
            <input type="number" formControlName="cols" matInput>
          </mat-form-field>
          <mat-form-field class="mb-25" appearance="fill">
            <mat-label>Row Height</mat-label>
            <input type="text" formControlName="rowHeight" matInput>
            <mat-hint>value + px. E.G 400px</mat-hint>
          </mat-form-field>
          <mat-form-field class="mb-25" appearance="fill">
            <mat-label>Gutter Size</mat-label>
            <input type="text" formControlName="gutterSize" matInput>
            <mat-hint>value + px. E.G 400px</mat-hint>
          </mat-form-field>
          <button mat-flat-button color="primary" [disabled]="!documentConfigform.valid" (click)="onFormSubmit()">Submit</button>
        </form>
      </section>
    </mat-card-content>
  </mat-card>