/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-content {
    padding: 30px;
    background-image: url('assets/adult-g3180e6c1c_1920.jpg'); 
}

.mb-25 {
    margin-bottom: 25px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.to-do-bar {
    display: flex;
    padding: 15px;

    button {
        margin-right: 15px;
    }
}

.background-red {
    background-color: red;

    span {
        color: white
    }
}

.background-light-green {
    background-color: lightgreen;
}
.background-light-yellow {
    background-color: lightyellow;
}

.auth-image{
    background-image: '/assets/adult-g3180e6c1c_1920.jpg';
}

