
<div class="to-do-bar">
    <button *ngIf="this.documentConfig != null || this.documentConfig != undefined" routerLink="new" class="background-light-green" mat-fab color="basic" aria-label="Example icon button with a add icon">
      <mat-icon>create</mat-icon>
    </button>

    <button routerLink="config" class="background-light-yellow" mat-fab color="basic" aria-label="Example icon button with a add icon">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

<ng-template [ngIf]="this.documentConfig != null || this.documentConfig != undefined">
<mat-grid-list [cols]="documentConfig.cols" [rowHeight]="documentConfig.rowHeight" [gutterSize]="documentConfig.gutterSize">
    <mat-grid-tile
        *ngFor="let document of documents; let i = index"
        [colspan]="document.cols"
        [rowspan]="document.rows"
        [style.background]="document.color"
        [routerLink]="[i]">
        <div [innerHTML]="document.title">
        </div>
    </mat-grid-tile>
</mat-grid-list>
</ng-template>

<app-document-item></app-document-item>
