<h1 mat-dialog-title>Notification</h1>
<div mat-dialog-content>
  <p>¡You need to config the documents grid, before editing of creating any!</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok</button>
</div>