<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
  <p>Are you sure you want to delete this document?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="true">Yes</button>
</div>