<div class="to-do-bar">
  <button (click)="openDeleteDocumentDialog()" class="background-red" mat-fab color="basic" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
  <button (click)="onEditDocument()" class="background-light-yellow" mat-fab color="basic" aria-label="Example icon button with a add icon">
    <mat-icon>create</mat-icon>
  </button>
</div>
<mat-card [ngStyle]='{ backgroundColor: document.color }'>
    <mat-card-title [innerHTML]="document.title"></mat-card-title>
    <mat-card-content [innerHTML]="document.text"></mat-card-content>
</mat-card>

<router-outlet></router-outlet>